body{

background:#12003d;

margin:0;

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

font-family:Arial;

color:white;
}

.game-container{

text-align:center;
}

.hub-title{

color:#00e5ff;

text-shadow:
0 0 10px #00e5ff,
0 0 30px #00e5ff;
}

.back-btn{

text-decoration:none;

color:white;

padding:10px 20px;

border:2px solid cyan;

border-radius:12px;
}

.top-bar{

display:flex;

gap:10px;

justify-content:center;

flex-wrap:wrap;

margin-bottom:20px;
}

.score-box{

background:#220055;

padding:10px;

border-radius:12px;

border:2px solid #00e5ff;
}

button{

background:
linear-gradient(
90deg,
cyan,
magenta
);

border:none;

padding:10px 20px;

color:white;

border-radius:10px;

cursor:pointer;
}

.board{

display:grid;

grid-template-columns:
repeat(5,90px);

gap:10px;

justify-content:center;
}

.card{

width:90px;
height:90px;

background:#220055;

border:2px solid #ff00ff;

border-radius:15px;

display:flex;

justify-content:center;
align-items:center;

font-size:2rem;

cursor:pointer;

box-shadow:
0 0 10px #ff00ff;

transition:.3s;
}

.flipped{

background:#00e5ff;

color:#12003d;
}

.matched{

background:#00ff88;
}

.golden{

background:gold;

color:black;
}

@media(max-width:600px){

.board{

grid-template-columns:
repeat(5,60px);

gap:8px;
}

.card{

width:60px;
height:60px;

font-size:1.5rem;
}
}